<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<string>21 DAY CHALLENGE</string>
		<string>Learn to control the peak orgasm.</string>
		<string></string>
		<string></string>
		<string>TwentryOneDayChallenge</string>
	</array>
	<key>1</key>
	<array>
		<string>LIKE YOUR LOVER(S)</string>
		<string>Like your lover(s) sex skills.</string>
		<string>I like you...\n\nShow your lovers what you like about them. Accept this challenge and you are ready to give likes to you lover(s).\n\nWant to know what people like about you?\n\nAfter giving your first like to a lover you are ready to receive likes.</string>
		<string>like</string>
		<string>LikeYourLovers</string>
	</array>
	<key>2</key>
	<array>
		<string>RATE YOUR LOVER(S)</string>
		<string>Rate your lover(s) sex skills.</string>
		<string>Help your lovers by giving them fair and honest feedback. Accept this challenge and you can start to give ratings to you lover(s).\n\nCurious to know your own ratings?\nAfter rating at least one lover you are ready to receive ratings.\n\nTip:\nHonesty and transparency is key when giving feedback and ratings. Your lovers can see how you rate them so try to giveas honest and fair feedback as you can. The more accurate feedback you give the better chances you have to receive valuable feedback for you. </string>
		<string>ratingG</string>
		<string>RateYourLover</string>
	</array>
	<key>3</key>
	<array>
		<string>RECEIVE LIKES</string>
		<string>See the likes you get.</string>
		<string>Do you want to know what others like about you? When you accept this challenge you can view the likes you have received by others.</string>
		<string>like</string>
		<string>ReceiveLikes</string>
	</array>
	<key>4</key>
	<array>
		<string>RECEIVE RATINGS</string>
		<string>See the ratings you get.</string>
		<string>Do you want to know what others like about you? When you accept this challenge you can view the likes you have received by others.\n\nAre you ready to know for real how others see you as a lover? When you accept this challenge you unlock the feedback graph where you can view the ratings you have received by others.\n\nTip 1: Make your ratings more accurate by only rating people who you had sex with. This way, your “Mutuals average” filter will only include ratings from people you actually had sex with.\n\nTip 2: What if I change my mind? You can adjust your ratings at any time by changing the position of the sliders.</string>
		<string>graph</string>
		<string>ReceiveRatings</string>
	</array>
	<key>5</key>
	<array>
		<string>FREE FROM PORN</string>
		<string>Get back to your natural horniness.</string>
		<string></string>
		<string></string>
		<string>FreeFromPorn</string>
	</array>
	<key>6</key>
	<array>
		<string>ANAL RELAXATION</string>
		<string>A doorway to deeper orgasms.</string>
		<string></string>
		<string></string>
		<string>AnalRelaxation</string>
	</array>
	<key>7</key>
	<array>
		<string>TANTRIC MASTURBATION</string>
		<string>Learn to touch yourself</string>
		<string></string>
		<string></string>
		<string>TantricMasturbation</string>
	</array>
</dict>
</plist>
