<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/PcE1tP7kFag&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>1</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/Srm5biS2R_A&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>2</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/bGvHj2otWwU&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>3</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/EAFKusQKmGU&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>4</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/h_9RLh3lPl8&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>5</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/7iENY0fswLU&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>6</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/imZoNGobynI&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>7</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/6H4B-ssPC3w&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>8</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/JaNEwfQzSjg&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>9</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/d2UxzWbcffE&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>10</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/y4dnvrsDgIo&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>11</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/AEelzkdhXwo&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>12</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/7ZmYh-mM9f4&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>13</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/glD1y5KHf8Y&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>14</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/PcE1tP7kFag&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>15</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/jJbcVuhtZhA&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>16</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/38GH9tsKW0Q&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>17</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/CT0OETR_pHE&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>18</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/AEelzkdhXwo&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>19</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/zWUbzm7WUhw&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>20</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/Eiswyf3a9H0&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
	<key>21</key>
	<string>&lt;iframe width=&quot;960&quot; height=&quot;480&quot; src=&quot;https://www.youtube.com/embed/2RK4_-pO9hI&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;</string>
</dict>
</plist>
