<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOLLOWING</key>
	<dict>
		<key>level</key>
		<array>
			<string>I am unable to trust, relax and feel into my own body. </string>
			<string>I resist leading by taking over, talking, zooning out, or something similar.</string>
			<string>I can feel relaxation and trust in the body while my partner is leading me.</string>
			<string>I can get horny when my partner leads me even when I am experiencing some feelings of fear.</string>
			<string>I can focus more on my bodily sensations than on my thoughts.</string>
			<string>I trust enough to be lead by a person I have never met before.</string>
			<string>I can be totally transparent with what I feel in my body and my emotions letting them show instantly while someone is leading me.</string>
			<string>I can totally surrender into horniness under any circumstance and energy.</string>
			<string>I can surrender away from all thoughts and be in full contact with my body and all emotions.</string>
			<string>My trust is so deep that I can let my partner do anything to me without feeling fear.</string>
		</array>
		<key>image</key>
		<string>following</string>
		<key>FOLLOWING</key>
		<string>This skill measures how willing you are to let go of control, trust your partners guiding and communicate with your body by expressing your emotions, horniness and open heart. </string>
	</dict>
	<key>EMPATHY</key>
	<dict>
		<key>level</key>
		<array>
			<string>I think mostly about myself, my own pleasure, how good or bad I am doing and what my lover thinks of me.</string>
			<string>I am able to stop thinking and focusing on myself the whole time and instead focus my attention on my lover for short periods of time. </string>
			<string>I am able to focus my attention on my lover for 5 minutes at a time. </string>
			<string>I can read body language, tone of voice and facial expression and understand what my lover is feeling.</string>
			<string>I can focus and feel into my lover for 30 minutes at a time.</string>
			<string>I can focus and feel into my lover for 30 minutes at a time.</string>
			<string>I can feel and experience the same emotions as my lover.</string>
			<string>I can focus on my lover for hours at a time.</string>
			<string>I can feel everything happening emotionally and physically in my lover and I can compassionately respond to my lovers needs and desires without using any pre-decided technique.</string>
			<string>I can stay one step ahead of my lover. I know what is about to happen emotionally and physically in my lover I act on it before he/she feels it.</string>
		</array>
		<key>image</key>
		<string>empathy</string>
		<key>EMPATHY</key>
		<string>This skill measures your ability to have empathy for your lover. Feeling what your lover feels and seeing the world from their perspective.</string>
	</dict>
	<key>PLAYFULLNESS</key>
	<dict>
		<key>level</key>
		<array>
			<string>I always fuck in the same way, repeating same pattern with little or no spontaneity in sex. </string>
			<string>I am curious and like to explore sexuality through experimenting and role play.</string>
			<string>I can get horny on sexual roleplay.</string>
			<string>I can play with and enjoy different energies and identities within sexual role play.</string>
			<string>I feel comfortable and can have fun, laugh and play sexually while being horny.</string>
			<string>I am comfortable to live out mine and my lovers sexual fantasies.</string>
			<string>I have stopped acting in sexual role play. Instead I am authentic, vulnerable and free while playing.</string>
			<string>I can happily and innocently, play and explore any sexual fantasies and desires without any shame.</string>
			<string>I can fully embrace and submerge into playfulness, loose all thoughts and impulses to think while Ifeel horniness throughout whole the body.</string>
			<string>I am totally free of shame, sexually innocent and I can stay relaxed even with many people around.</string>
		</array>
		<key>image</key>
		<string>playfullness</string>
		<key>PLAYFULLNESS</key>
		<string>This skill measures how comfortable and relaxed you are around sex and how playful you dare to be in your sexuality.</string>
	</dict>
	<key>DEEP ORGASMS</key>
	<dict>
		<key>image</key>
		<string>deepOrgasm</string>
		<key>level</key>
		<array>
			<string>I can only experience ordinary peak orgasm.(Ejaculation for men, clitoris orgasm for women)</string>
			<string>Women: I can squirt.\nMen: I can make a woman how to squirt who never did it before.</string>
			<string>Women: I can experience a vaginal orgasm (when the vagina contracts and pumps)\nMen: I can experience sexual pleasure in my anus. </string>
			<string>Women: I can experience g-spot orgasm.\nMen: I can experience anal prostate orgasm.</string>
			<string>I can have an anal orgasms. (same for Men and Women)</string>
			<string>Women: I can experience a vaginal valley orgasm (no contractions or pumping)\nMen: ?</string>
			<string>Women: I can experience a cervical orgasm.\nMen: ?</string>
			<string>I can experience a full body orgasm. (same for Men and Women)</string>
			<string>Women: I can experience a womb orgasm and experience deeply spiritual experiences with stopping of all thoughts for minutes at a time.\nMen: I can have deeply spiritual experiences with stopping of all thoughts for minutes at a time during while orgasming </string>
			<string>Women and men: I can experience all deep tantric orgasms and perpetually orgasm on my pudendal nerve.</string>
		</array>
		<key>DEEP ORGASMS</key>
		<string>This skill measures your ability to have and to give deep tantric orgasms.</string>
	</dict>
	<key>LEADING</key>
	<dict>
		<key>level</key>
		<array>
			<string>I never take the lead sexually and I would feel uncomfortable taking the lead.</string>
			<string>I can take the lead but I do not know how to feel what my partner wants. </string>
			<string>I can hold my partner and feel how his/her body wants to move and lovingly guide my partner deeper in those movements.</string>
			<string>I can serve my partner and offer my leading as a gift. This means that I can guide my partner into his/her deep desire. Without being distracted by my own horniness and desire.</string>
			<string>I can feel what my partner is feeling (without him/her having to tell me out loud) and I can adjustmy leading to match where he/she secretly wants to go.</string>
			<string>I can lead my partner without touch, using only my voice, gestures and presence.</string>
			<string>I am fully comfortable with all my partner’s emotional expressions and I can lead him/her into any of them.</string>
			<string>I am relaxed enough to lead any feminine partner with only my intuition, not using techniques or any pre-planned movements.</string>
			<string>I can lead any feminine partner into slut mode without even touching her.</string>
			<string>I can lead the feminine partner into satori, a temporary enlightened state, feeling total freedom and bliss without even touching her.</string>
		</array>
		<key>image</key>
		<string>leading</string>
		<key>LEADING</key>
		<string>This skill measures your ability to lovingly guide your partner into surrender, relaxation and horniness using any means necessary.</string>
	</dict>
	<key>PRESENCE</key>
	<dict>
		<key>image</key>
		<string>presence</string>
		<key>level</key>
		<array>
			<string>I am easily distracted and often think of other things than my partner while fucking. </string>
			<string>I cannot feel so much of my own body while I fuck.</string>
			<string>I can focus my attention on my partner a few seconds at a time before I get distracted by a thought or emotion.</string>
			<string>Can get horny on being led even when experiencing some feelings of fear.</string>
			<string>Focusing more on your bodily sensations than on your thoughts.</string>
			<string>Trusting enough to be lead by a person you never met before.</string>
			<string>Is totally transparent with bodily sensations and emotions letting them show instantly while being directed.</string>
			<string>Can totally surrender into horniness under any circumstance and energy.</string>
			<string>Can surrender away from all thoughts and is in full contact with body and all emotions.</string>
			<string>I can focus 100% on my partner both visually, emotionally and bodily and still be fully aware of what goes on in myself.</string>
		</array>
		<key>PRESENCE</key>
		<string>This skill measures how present you can be with your partner.</string>
	</dict>
	<key>SEXTALK</key>
	<dict>
		<key>level</key>
		<array>
			<string>I would feel uncomfortable if I tried to make my partner horny by talking to him/her while fucking.</string>
			<string>I can talk when I fuck but I do not know how to make an impact on my partner’s horniness.</string>
			<string>I know some basic sextalk techniques and I can use them to make my partner horny.</string>
			<string>I can improvise around basic sextalk techniques that I have learned and can make my partner horny on it.</string>
			<string>I can adjust the tone of my voice, what I say and how I say it to match what my partner is feeling and secretly wants to go.</string>
			<string>I can sextalk my partner in whatever way he/she secretly desires, from soft to horny, hard and dirty.</string>
			<string>I can verbally play with my partner’s deep horniness.</string>
			<string> I sextalk my partner in any energy and make him/her feel loved at the same time, no matter how light or dark my sextalk is.</string>
			<string>I am comfortable to sextalk my partner even with other people listening.</string>
			<string>I can sextalk a woman into full orgasm without touching her.</string>
		</array>
		<key>image</key>
		<string>sextalk</string>
		<key>SEXTALK</key>
		<string>This skill measures how well you can talk to your partner while you are fucking as a way to get him/her into horniness and surrender.</string>
	</dict>
	<key>PEAK CONTROL</key>
	<dict>
		<key>level</key>
		<array>
			<string>I cum within 5 minutes of fucking either because I choose to or involuntarily.</string>
			<string>I cum within 15-20 minutes of fucking.</string>
			<string>I choose not to cum but I am still unable to control it. I frequently have misses (cumming by mistake).</string>
			<string>I am able to delay ejaculation or orgasm by slowing down while fucking.</string>
			<string>I can average 21 days without ejaculation or clitoral orgasm while still being sexually active.</string>
			<string>I can average 40 days without ejaculation or clitoral orgasm while still being sexually active.</string>
			<string>I can average 60 days without ejaculation or clitoral orgasm while still being sexually active.</string>
			<string>I can fuck for hours by regulating the level of horniness and spreading sexual energy in the body instead of ejaculating or cumming on the clitoris.</string>
			<string>I can average 100 days or more without ejaculation or clitoral orgasm while still being sexually active.</string>
			<string>I have 100% control over relaxation and cumming impulses. I can perpetually orgasm through my pudendal nerve without contractions (cumming).</string>
		</array>
		<key>image</key>
		<string>peakControl</string>
		<key>PEAK CONTROL</key>
		<string>FOR MEN:\nThe ablity to control, delay and refrain from ejaculation.\n\nFOR WOMEN:\nThe ablity to control, delay and refrain from clitoral and vaginal(contraction) orgasm.</string>
	</dict>
</dict>
</plist>
